body {
  margin: 0;
  padding: 0;
}

.content {
  width: 75%;
  margin: 30px auto;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  h1 {
    color: #ff0000 !important;
  }

  h1,
  label,
  input,
  textarea,
  button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  input,
  textarea {
    &:focus {
      border: 1px solid #f34000;
      color: #987777;
    }
  }
}
